  /* Small phones */
  @media (max-width: 480px) {
    .home h1 { font-size: 2rem; }
    .home p { font-size: 0.9rem; }
    .skills-list li { font-size: 0.9rem; }
  }
  
  /* Mobile & Tablets Portrait */
  @media (max-width: 768px) {
    body { overflow-x: hidden; }
    .navbar { display: none; }
    .menu-toggle { display: block; }
    .section { padding: 2rem 1rem; margin: 0; }
    .home, .about, .skills, .projects, .contact {
      text-align: center;
      padding: 2rem 1rem;
      align-items: center;
    }
    #about, #skills, #projects, #contact {
      scroll-margin-top: 0;
    }
    

    .home h1 {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }
    .home p {
      font-size: 1rem;
      margin-bottom: 2rem;
      max-width: 90%;
    }
    .home-button {
      font-size: 0.9rem;
      padding: 0.75rem 1.5rem;
      margin: 0 auto;
    }

    
    .about {
      text-align: left;
    }
    .about h2 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    .about p {
      font-size: 1rem;
      line-height: 1.6;
      max-width: 90%;
      margin: 0 auto;
    }


    .skills-list {
      gap: 10px;
      padding: 0 1rem;
     }
    .skills-list li {
      font-size: 1rem;
      padding: 8px 16px;
    }


    .project-card {
      width: 90%;
      max-width: 350px;
      margin: 0 auto 1rem auto;
    }
    .projects-container {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
    
    
    .contact p{
      max-width: 400px;
    }
    .social-icons{
      gap: 1.2rem;
    }
    .social-icons a{
      font-size: 1.6rem;
    }

  }
  
  /* Tablets Landscape & Small Laptops
  @media (max-width: 1024px) {
    .section { padding: 3rem 2rem; }
  }
  
  /* Ultra-wide screens 
  @media (min-width: 1441px) {
    .container { max-width: 1400px; margin: auto; }
  }
   */